
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('/assets/fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Apply the font globally */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Aeonik-Regular", sans-serif;
}

/* Optional: Specific classes for light and regular weights */
.roboto-light {
  font-weight: 300;
}

.roboto-regular {
  font-weight: 400;
}

